/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Rauha implementation : Timothée Pecatte <tim.pecatte@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * rauha.scss
 *
 * Rauha stylesheet
 *
 */

@font-face {
    font-family: "Bernard MT Condensed";
    src: url("img/fonts/BernardMT-Condensed.woff2") format("woff2"),
        url("img/fonts/BernardMT-Condensed.woff") format("woff"),
        url("img/fonts/BernardMT-Condensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "modules/css/player-panel";
@import "modules/css/player-board";
@import "modules/css/biomes";
@import "modules/css/gods";
@import "modules/css/settings";

html {
    background: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.phantom {
    visibility: hidden;
}

.log.notif_newTurn,
.log.notif_newTurnScoring {
    text-align: center;
    background: #e3bc9280;
    font-weight: bold;
    font-size: 18px;
    font-family: "Bernard MT Condensed";
    color: black;
    border: 1px solid #4a4a4a;

    .roundedbox {
        background: transparent;
    }
}

.log.notif_newTurnScoring {
    background: #755738a3;
    border: 1px solid #76b7bb;
    color: white !important;
}

// SAFE MODE
#ebd-body.help-mode {
    .tooltipable {
        cursor: help;
    }
}

.help-marker {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    z-index: 900;
    border: 1px solid black;
    border-radius: 50%;

    svg {
        width: 20px;
        height: 20px;
    }
}

#ebd-body:not(.help-mode) {
    .help-marker {
        opacity: 0;
        pointer-events: none;
    }
}
