@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Rauha implementation : Timothée Pecatte <tim.pecatte@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * rauha.scss
 *
 * Rauha stylesheet
 *
 */
@font-face {
  font-family: "Bernard MT Condensed";
  src: url("img/fonts/BernardMT-Condensed.woff2") format("woff2"), url("img/fonts/BernardMT-Condensed.woff") format("woff"), url("img/fonts/BernardMT-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.player-info {
  display: flex; }

.player-board {
  background-color: #f5f3ef;
  border: 1px solid #4a4a4a !important;
  margin-right: 1px !important; }

.player_score .fa.fa-star {
  display: none; }
.player_score svg {
  width: 16px;
  height: 16px;
  vertical-align: text-top; }

.crystal-icon {
  width: 35px;
  height: 45px;
  background-image: url("img/crystal.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Bernard MT Condensed";
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2px;
  box-sizing: border-box; }

.points-icon {
  width: 50px;
  height: 50px;
  background-image: url("img/points.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Bernard MT Condensed";
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

#rauha-first-player {
  width: 30px;
  height: 30px;
  background: url("img/first_player.jpg");
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 3px -1px black;
  position: relative; }
  #rauha-first-player .help-marker {
    left: -6px;
    top: -6px; }

.rauha-panel .first-player-holder {
  position: absolute;
  height: 34px;
  right: 45px;
  top: 0px;
  width: 30px; }
.rauha-panel .rauha-player-infos {
  padding: 2px 8px;
  display: flex; }
  .rauha-panel .rauha-player-infos .crystal-counter,
  .rauha-panel .rauha-player-infos .water-counter {
    margin-right: 6px; }
  .rauha-panel .rauha-player-infos .crystal-counter {
    font-family: "Bernard MT Condensed";
    font-size: 20px; }
    .rauha-panel .rauha-player-infos .crystal-counter::after {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 23px;
      height: 30px;
      background-image: url("img/crystal.png");
      background-size: 100%;
      background-repeat: no-repeat; }
  .rauha-panel .rauha-player-infos .water-counter {
    font-family: "Bernard MT Condensed";
    font-size: 20px; }
    .rauha-panel .rauha-player-infos .water-counter::after {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 21px;
      height: 30px;
      background-image: url("img/water.png");
      background-size: 100%;
      background-repeat: no-repeat; }
.rauha-panel .rauha-gods-container {
  display: flex;
  flex-wrap: wrap; }

#rauha-boards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.spore {
  width: 50px;
  height: 50px;
  background: url("img/spore.png");
  background-size: 200% 100%; }
  .spore.used {
    background-position-x: 100%; }

.rauha-board {
  width: calc(var(--rauhaBoardScale) * 822px);
  height: calc(var(--rauhaBoardScale) * 822px + 30px);
  padding: calc(var(--rauhaBoardScale) * 30px);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: baseline;
  --rauhaBiomeScale: 1; }
  .rauha-board .player-name {
    height: 22px;
    background: #e7e0d7b0;
    flex-shrink: 0;
    padding: 4px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #80502e96;
    border-radius: 4px;
    font-family: "Bernard MT Condensed"; }
  .rauha-board .rauha-board-fixed-size {
    transform: scale(var(--rauhaBoardScale));
    transform-origin: top left;
    width: 822px;
    height: 822px; }
    .rauha-board .rauha-board-fixed-size .faceB.board-grid {
      background-image: url("img/faceB.png"); }
    .rauha-board .rauha-board-fixed-size .board-grid {
      position: relative;
      width: 822px;
      height: 822px;
      background: url("img/faceA.png");
      background-size: 100%;
      display: grid;
      grid-template-columns: 56px 230px 230px 230px 56px;
      grid-template-rows: 59px 230px 230px 230px 53px;
      grid-gap: 5px; }
      .rauha-board .rauha-board-fixed-size .board-grid .board-cell {
        position: relative; }
        .rauha-board .rauha-board-fixed-size .board-grid .board-cell .biome-card {
          box-shadow: none;
          position: absolute;
          top: 0;
          left: 0; }
      .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selectable::before, .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selected::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        border-radius: 4px; }
      .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selectable {
        cursor: pointer; }
        .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selectable::before {
          background: #ff000020; }
        .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selectable:hover::before {
          background: #ff000070; }
      .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selected::before {
        background: #2fff5270; }
      .rauha-board .rauha-board-fixed-size .board-grid .cell-node.selected:hover::before {
        background: #2fff52a0; }
      .rauha-board .rauha-board-fixed-size .board-grid .cell-node .spore-holder {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 99;
        top: 166px;
        left: 33px; }
      .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
        width: 80px;
        height: 50px;
        position: absolute;
        background: url("img/avatars.png");
        background-size: 500% 100%;
        transform-origin: 50% 100%;
        transition: top 1s, left 1s, transform 1s; }
        [data-step="1"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: -27px;
          left: 137px;
          transform: rotate(0deg); }
        [data-step="2"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: -27px;
          left: 372px;
          transform: rotate(0deg); }
        [data-step="3"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: -27px;
          left: 607px;
          transform: rotate(0deg); }
        [data-step="4"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: -19px;
          left: 753px;
          transform: rotate(45deg); }
        [data-step="5"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 125px;
          left: 761px;
          transform: rotate(90deg); }
        [data-step="6"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 360px;
          left: 761px;
          transform: rotate(90deg); }
        [data-step="7"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 595px;
          left: 761px;
          transform: rotate(90deg); }
        [data-step="8"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 742px;
          left: 755px;
          transform: rotate(135deg); }
        [data-step="9"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 750px;
          left: 607px;
          transform: rotate(180deg); }
        [data-step="10"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 750px;
          left: 372px;
          transform: rotate(180deg); }
        [data-step="11"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 750px;
          left: 137px;
          transform: rotate(180deg); }
        [data-step="12"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 745px;
          left: -11px;
          transform: rotate(225deg); }
        [data-step="13"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 594px;
          left: -18px;
          transform: rotate(270deg); }
        [data-step="14"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 361px;
          left: -18px;
          transform: rotate(270deg); }
        [data-step="15"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: 125px;
          left: -18px;
          transform: rotate(270deg); }
        [data-step="16"] .rauha-board .rauha-board-fixed-size .board-grid .rauha-avatar {
          top: -19px;
          left: -13px;
          transform: rotate(315deg); }
  .rauha-board[data-color="28c8b2"] .rauha-board-fixed-size .rauha-avatar {
    background-position-x: 0%; }
  .rauha-board[data-color="9fa2a2"] .rauha-board-fixed-size .rauha-avatar {
    background-position-x: 25%; }
  .rauha-board[data-color="00953e"] .rauha-board-fixed-size .rauha-avatar {
    background-position-x: 50%; }
  .rauha-board[data-color="f4ea4b"] .rauha-board-fixed-size .rauha-avatar {
    background-position-x: 75%; }
  .rauha-board[data-color="f52452"] .rauha-board-fixed-size .rauha-avatar {
    background-position-x: 100%; }

#pending-biomes-wrapper {
  display: flex;
  height: calc(var(--rauhaBoardScale) * 230px);
  transition: height 0.5s; }
  #pending-biomes-wrapper.empty {
    height: 0; }
  #pending-biomes-wrapper #pending-biomes {
    flex-grow: 1;
    display: flex;
    justify-content: center; }
    #pending-biomes-wrapper #pending-biomes .biome-card {
      margin: 8px; }
  #pending-biomes-wrapper #satellite-moon,
  #pending-biomes-wrapper #satellite-star {
    flex-grow: 0;
    writing-mode: vertical-rl;
    text-align: center;
    font-family: "Bernard MT Condensed";
    font-weight: 700;
    width: 1px;
    opacity: 0;
    transition: opacity 0.5s; }
    #pending-biomes-wrapper #satellite-moon .player-name,
    #pending-biomes-wrapper #satellite-star .player-name {
      background: #eee6dcad;
      padding: 6px 3px;
      border: 1px solid #7d5e3cb0;
      border-radius: 3px;
      margin-right: 4px;
      display: none; }
  #pending-biomes-wrapper #satellite-star {
    background-position-x: 100%;
    writing-mode: vertical-lr; }
  #pending-biomes-wrapper.moon #satellite-moon, #pending-biomes-wrapper.star #satellite-star {
    display: block;
    opacity: 1;
    width: calc(var(--rauhaBoardScale) * 100px);
    height: calc(var(--rauhaBoardScale) * 230px);
    background-image: url("img/satellite.png");
    background-size: 200% 100%; }
    #pending-biomes-wrapper.moon #satellite-moon .player-name, #pending-biomes-wrapper.star #satellite-star .player-name {
      display: inline-block; }

#page-title .biome-card {
  position: absolute; }

.biome-tooltip {
  --rauhaBiomeScale: 1; }
  .biome-tooltip .biome-card {
    margin-bottom: 10px; }
  .biome-tooltip .biome-card.starting .biome-fixed-size {
    background-image: url("img/faceA.png");
    background-size: 356%;
    box-shadow: 2px 2px 5px -1px black; }
  .biome-tooltip .biome-card.starting[data-id="10"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="11"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="12"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="13"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="14"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="15"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="16"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="17"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="18"] .biome-fixed-size {
    background-image: url("img/faceB.png"); }
  .biome-tooltip .biome-card.starting[data-id="0"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="10"] .biome-fixed-size {
    background-position: 10% 10%; }
  .biome-tooltip .biome-card.starting[data-id="1"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="11"] .biome-fixed-size {
    background-position: 50% 10%; }
  .biome-tooltip .biome-card.starting[data-id="2"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="12"] .biome-fixed-size {
    background-position: 90% 10%; }
  .biome-tooltip .biome-card.starting[data-id="3"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="13"] .biome-fixed-size {
    background-position: 10% 50%; }
  .biome-tooltip .biome-card.starting[data-id="4"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="14"] .biome-fixed-size {
    background-position: 50% 50%; }
  .biome-tooltip .biome-card.starting[data-id="5"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="15"] .biome-fixed-size {
    background-position: 90% 50%; }
  .biome-tooltip .biome-card.starting[data-id="6"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="16"] .biome-fixed-size {
    background-position: 10% 90%; }
  .biome-tooltip .biome-card.starting[data-id="7"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="17"] .biome-fixed-size {
    background-position: 50% 90%; }
  .biome-tooltip .biome-card.starting[data-id="8"] .biome-fixed-size, .biome-tooltip .biome-card.starting[data-id="18"] .biome-fixed-size {
    background-position: 90% 90%; }

.rauha-board .board-grid .board-cell .biome-card.selectable .biome-fixed-size::before {
  border: 3px solid rgba(255, 0, 0, 0.438); }

.biome-card {
  position: relative;
  width: calc(230px * var(--rauhaBiomeScale));
  height: calc(230px * var(--rauhaBiomeScale)); }
  .biome-card .help-marker {
    left: auto;
    right: 8px;
    top: 8px; }
  .biome-card .biome-fixed-size {
    position: relative;
    width: 230px;
    height: 230px;
    transform: scale(var(--rauhaBiomeScale));
    transform-origin: top left;
    background-image: url("img/age1.jpg");
    background-size: 500% 800%;
    border-radius: 40px;
    box-shadow: 2px 2px 5px -1px black; }
    .biome-card .biome-fixed-size::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      border: 3px solid transparent;
      border-radius: 40px;
      transition: background 0.8s;
      background: transparent; }
  .biome-card.phantom {
    visibility: hidden; }
  .biome-card.starting .biome-fixed-size {
    background: none;
    box-shadow: none; }
  .biome-card[data-used="1"] .biome-fixed-size::before {
    background: rgba(0, 0, 0, 0.4); }
  .biome-card.selectable {
    cursor: pointer; }
    .biome-card.selectable:not(.starting):hover {
      transform: scale(1.1); }
    .biome-card.selectable.starting:hover .biome-fixed-size::before {
      border: 3px solid rgba(255, 0, 0, 0.738); }
  .biome-card.selected .biome-fixed-size::before {
    border: 3px solid red; }
  .biome-card.choice .biome-fixed-size::before {
    border: 3px solid green; }
  .biome-card[data-id="100"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 0%; }
  .biome-card[data-id="101"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 0%; }
  .biome-card[data-id="102"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 0%; }
  .biome-card[data-id="103"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 0%; }
  .biome-card[data-id="104"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 0%; }
  .biome-card[data-id="105"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="106"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="107"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="108"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="109"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="110"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="111"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="112"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="113"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="114"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="115"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="116"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="117"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="118"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="119"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="120"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="121"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="122"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="123"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="124"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="125"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="126"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="127"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="128"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="129"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="130"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="131"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="132"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="133"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="134"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="135"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 100%; }
  .biome-card[data-id="136"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 100%; }
  .biome-card[data-id="137"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 100%; }
  .biome-card[data-id="138"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 100%; }
  .biome-card[data-id="139"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 100%; }
  .biome-card[data-id="140"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 0%; }
  .biome-card[data-id="141"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 0%; }
  .biome-card[data-id="142"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 0%; }
  .biome-card[data-id="143"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 0%; }
  .biome-card[data-id="144"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 0%; }
  .biome-card[data-id="145"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="146"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="147"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="148"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="149"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 14.2857142857%; }
  .biome-card[data-id="150"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="151"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="152"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="153"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="154"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 28.5714285714%; }
  .biome-card[data-id="155"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="156"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="157"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="158"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="159"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 42.8571428571%; }
  .biome-card[data-id="160"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="161"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="162"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="163"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="164"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 57.1428571429%; }
  .biome-card[data-id="165"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="166"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="167"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="168"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="169"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 71.4285714286%; }
  .biome-card[data-id="170"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="171"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="172"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="173"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="174"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 85.7142857143%; }
  .biome-card[data-id="175"] .biome-fixed-size {
    background-position-x: 0%;
    background-position-y: 100%; }
  .biome-card[data-id="176"] .biome-fixed-size {
    background-position-x: 25%;
    background-position-y: 100%; }
  .biome-card[data-id="177"] .biome-fixed-size {
    background-position-x: 50%;
    background-position-y: 100%; }
  .biome-card[data-id="178"] .biome-fixed-size {
    background-position-x: 75%;
    background-position-y: 100%; }
  .biome-card[data-id="179"] .biome-fixed-size {
    background-position-x: 100%;
    background-position-y: 100%; }

.biome-card.age2 .biome-fixed-size {
  background-image: url("img/age2.jpg"); }

:root {
  --rauhaGodScale: 0.06; }

.rauha-god {
  background-color: transparent;
  perspective: 1000px;
  width: calc(var(--rauhaGodScale) * 715px);
  height: calc(var(--rauhaGodScale) * 1131px);
  flex-shrink: 0; }
  .rauha-god .rauha-god-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(0deg); }
    .rauha-god .rauha-god-inner .god-front,
    .rauha-god .rauha-god-inner .god-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      transform: rotateY(0deg);
      background: url("img/gods.png");
      background-size: 700% 200%; }
    .rauha-god .rauha-god-inner .god-back {
      transform: rotateY(180deg);
      background-position-y: 100%; }
  .rauha-god[data-id="1"] .god-front,
  .rauha-god[data-id="1"] .god-back {
    background-position-x: 0%; }
  .rauha-god[data-id="2"] .god-front,
  .rauha-god[data-id="2"] .god-back {
    background-position-x: 16.6666666667%; }
  .rauha-god[data-id="3"] .god-front,
  .rauha-god[data-id="3"] .god-back {
    background-position-x: 33.3333333333%; }
  .rauha-god[data-id="4"] .god-front,
  .rauha-god[data-id="4"] .god-back {
    background-position-x: 50%; }
  .rauha-god[data-id="5"] .god-front,
  .rauha-god[data-id="5"] .god-back {
    background-position-x: 66.6666666667%; }
  .rauha-god[data-id="6"] .god-front,
  .rauha-god[data-id="6"] .god-back {
    background-position-x: 83.3333333333%; }
  .rauha-god[data-id="7"] .god-front,
  .rauha-god[data-id="7"] .god-back {
    background-position-x: 100%; }
  .rauha-god[data-id="8"] .god-front,
  .rauha-god[data-id="8"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 0%; }
  .rauha-god[data-id="9"] .god-front,
  .rauha-god[data-id="9"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 16.6666666667%; }
  .rauha-god[data-id="10"] .god-front,
  .rauha-god[data-id="10"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 33.3333333333%; }
  .rauha-god[data-id="11"] .god-front,
  .rauha-god[data-id="11"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 50%; }
  .rauha-god[data-id="12"] .god-front,
  .rauha-god[data-id="12"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 66.6666666667%; }
  .rauha-god[data-id="13"] .god-front,
  .rauha-god[data-id="13"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 83.3333333333%; }
  .rauha-god[data-id="14"] .god-front,
  .rauha-god[data-id="14"] .god-back {
    background-image: url("img/gods-ext.png");
    background-position-x: 100%; }
  .rauha-god[data-used="0"] .rauha-god-inner {
    transform: rotateY(180deg); }

.god-tooltip {
  display: flex;
  --rauhaGodScale: 0.3; }
  .god-tooltip .god-tooltip-desc {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .god-tooltip .god-tooltip-desc .god-name {
      font-weight: bold;
      font-size: 25px;
      font-variant: small-caps; }
    .god-tooltip .god-tooltip-desc .god-title {
      font-style: italic;
      font-size: 15px;
      margin: 2px 0px 11px; }
    .god-tooltip .god-tooltip-desc .god-power {
      text-align: center; }

:root {
  --rauhaShamanScale: 0.2; }

#pending-shamans {
  display: flex;
  justify-content: center;
  align-items: center; }
  #pending-shamans .shaman-card {
    margin: 5px 10px; }

.shaman-card {
  background-color: transparent;
  width: calc(var(--rauhaShamanScale) * 945px);
  height: calc(var(--rauhaShamanScale) * 1417px);
  flex-shrink: 0;
  position: relative;
  background: url("img/shamans.jpg");
  background-size: 500% 200%;
  border-radius: calc(var(--rauhaShamanScale) * 50px);
  border: 1px solid black; }
  .shaman-card.selectable {
    cursor: pointer; }
    .shaman-card.selectable:hover {
      transform: scale(1.03); }
  .shaman-card.selected {
    box-shadow: 0px 0px 10px 2px green; }
  .shaman-card[data-side="2"] {
    background-position-y: 100%; }
  .shaman-card[data-shaman="Sininen"] {
    background-position-x: 0%; }
  .shaman-card[data-shaman="Harmaa"] {
    background-position-x: 25%; }
  .shaman-card[data-shaman="Vihreä"] {
    background-position-x: 50%; }
  .shaman-card[data-shaman="Keltainen"] {
    background-position-x: 75%; }
  .shaman-card[data-shaman="Punainen"] {
    background-position-x: 100%; }

.shaman-tooltip h3 {
  margin-top: 5px; }
.shaman-tooltip li {
  margin: 10px 5px; }
  .shaman-tooltip li b {
    margin-left: -5px; }

#player_board_config {
  position: relative;
  border-image: none; }

#player_config .player_config_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0px;
  border-bottom: 1px solid #80502e; }
  #player_config .player_config_row:last-child {
    border-bottom: none; }
#player_config #round-counter-wrapper {
  text-align: center;
  margin: -5px -3px 0px;
  background: #e3bc9280;
  padding: 8px 0px 4px;
  border-bottom: 1px solid #8080808a;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Bernard MT Condensed";
  color: black;
  display: block; }
#player_config #round-phase {
  text-align: center;
  margin: 0px -3px 0px;
  background: #fff;
  padding: 5px 0px 3px;
  border-bottom: 1px solid #8080808c;
  font-weight: normal;
  font-size: 17px;
  font-family: "Bernard MT Condensed";
  color: black;
  display: block; }
  #player_config #round-phase:empty {
    display: none; }
#player_config #help-mode-switch .checkbox {
  display: none; }
#player_config #help-mode-switch .label {
  background-color: #2c3037;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 26px;
  width: 50px; }
#player_config #help-mode-switch .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear, color 0.7s linear; }
#player_config #help-mode-switch .checkbox:checked + .label .ball {
  transform: translateX(24px); }
#player_config #help-mode-switch svg {
  width: 27px; }
#player_config #show-settings {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  #player_config #show-settings:hover {
    color: grey; }
  #player_config #show-settings svg {
    width: auto;
    height: 40px; }
#player_config #show-settings .fa-primary {
  transform-origin: 216px 255px;
  transition: transform 1s; }
#player_config #show-settings:hover .fa-primary {
  transform: rotate(180deg); }
#player_config #pending-gods {
  flex-wrap: wrap; }
  #player_config #pending-gods .rauha-god {
    margin: 2px 5px; }

#popin_showSettings_underlay {
  background-color: black !important;
  opacity: 0.6; }

#popin_showSettings {
  background-color: #ebd5bd;
  border-radius: 8px;
  box-shadow: 0 3px 8px black;
  position: relative; }
  #popin_showSettings .rauha_popin_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8; }
    #popin_showSettings .rauha_popin_closeicon:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1); }
    #popin_showSettings .rauha_popin_closeicon i {
      margin-top: -2px; }
  #popin_showSettings h2 {
    font-family: "Oranienbaum";
    text-align: center;
    font-size: 23px;
    margin: 0px;
    background: #b79570;
    border-radius: 8px 8px 0px 0px;
    padding: 7px 0px;
    border-bottom: 1px solid #734f2a; }

/*
   * Controls in the top bar
   */
#settings-controls-container {
  position: relative;
  text-align: center;
  width: 550px; }
  #settings-controls-container #settings-controls-header {
    display: flex;
    align-items: stretch; }
    #settings-controls-container #settings-controls-header div {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 5px 8px;
      background: #cca172;
      flex-grow: 1;
      cursor: pointer; }
      #settings-controls-container #settings-controls-header div:last-child {
        border-right: none; }
      #settings-controls-container #settings-controls-header div.open {
        background: none;
        border-bottom: none; }
  #settings-controls-container #settings-controls-wrapper .settings-section {
    display: none; }
    #settings-controls-container #settings-controls-wrapper .settings-section.open {
      display: block; }
  #settings-controls-container .row-data {
    border: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray; }
    #settings-controls-container .row-data .row-label {
      width: 100%;
      float: none;
      color: black;
      padding-bottom: 0px;
      text-overflow: initial;
      white-space: normal;
      padding: 2px 4px 0px; }
    #settings-controls-container .row-data .row-value {
      width: 85%;
      margin: 0; }
      #settings-controls-container .row-data .row-value.slider {
        width: calc(85% - 40px);
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: content-box; }
    #settings-controls-container .row-data.row-data-switch .row-value {
      padding: 6px 0px; }
    #settings-controls-container .row-data label.switch {
      display: block; }
      #settings-controls-container .row-data label.switch input {
        display: none; }
      #settings-controls-container .row-data label.switch .slider {
        margin: auto;
        height: 27px;
        width: 55px;
        position: relative;
        background-color: #a6a6a6;
        cursor: pointer;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px; }
        #settings-controls-container .row-data label.switch .slider::before {
          content: "";
          position: absolute;
          background-color: #fff;
          bottom: 4px;
          height: 19px;
          left: 4px;
          width: 19px;
          border-radius: 50%;
          transition: 0.4s; }
      #settings-controls-container .row-data label.switch input:checked + .slider {
        background-color: #2196f3; }
        #settings-controls-container .row-data label.switch input:checked + .slider::before {
          left: 30px; }

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

.noUi-connect {
  height: 100%;
  width: 100%; }

.noUi-origin {
  height: 10%;
  width: 10%; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb; }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #3fb8af; }

.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb; }

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb; }

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect {
  background: #b8b8b8; }

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed; }

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #ccc; }

.noUi-marker-sub {
  background: #aaa; }

.noUi-marker-large {
  background: #aaa; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

html {
  background: url("img/background.jpg");
  background-size: cover;
  background-attachment: fixed; }

.bgabutton.selected {
  background: #d97050; }

.phantom {
  visibility: hidden; }

.log.notif_newTurn,
.log.notif_newTurnScoring {
  text-align: center;
  background: #e3bc9280;
  font-weight: bold;
  font-size: 18px;
  font-family: "Bernard MT Condensed";
  color: black;
  border: 1px solid #4a4a4a; }
  .log.notif_newTurn .roundedbox,
  .log.notif_newTurnScoring .roundedbox {
    background: transparent; }

.log.notif_newTurnScoring {
  background: #755738a3;
  border: 1px solid #76b7bb;
  color: white !important; }

#ebd-body.help-mode .tooltipable {
  cursor: help; }

.help-marker {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  z-index: 900;
  border: 1px solid black;
  border-radius: 50%; }
  .help-marker svg {
    width: 20px;
    height: 20px; }

#ebd-body:not(.help-mode) .help-marker {
  opacity: 0;
  pointer-events: none; }

/*# sourceMappingURL=rauha.css.map */
