#pending-biomes {
    display: flex;
    justify-content: center;
    height: calc(var(--rauhaBoardScale) * 230px);
    transition: height 0.5s;

    .biome-card {
        margin: 8px;
    }

    &:empty {
        height: 0;
    }
}

#page-title .biome-card {
    position: absolute;
}

.biome-tooltip {
    --rauhaBiomeScale: 1;

    .biome-card {
        margin-bottom: 10px;
    }
}

.rauha-board .board-grid .board-cell {
    .biome-card.selectable .biome-fixed-size::before {
        border: 3px solid rgba(255, 0, 0, 0.438);
    }
}
.biome-card {
    position: relative;
    width: calc(230px * var(--rauhaBiomeScale));
    height: calc(230px * var(--rauhaBiomeScale));

    .biome-fixed-size {
        position: relative;
        width: 230px;
        height: 230px;
        transform: scale(var(--rauhaBiomeScale));
        transform-origin: top left;
        background-image: url("img/age1.jpg");
        background-size: 500% 800%;
        border-radius: 40px;
        box-shadow: 2px 2px 5px -1px black;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            border: 3px solid transparent;
            border-radius: 40px;
            transition: background 0.8s;
            background: transparent;
        }
    }

    &.phantom {
        visibility: hidden;
    }

    &.starting .biome-fixed-size {
        background: none;
        box-shadow: none;
    }

    &[data-used="1"] .biome-fixed-size::before {
        background: rgba(0, 0, 0, 0.4);
    }

    &.selectable {
        cursor: pointer;
        &:not(.starting):hover {
            transform: scale(1.1);
        }

        &.starting:hover .biome-fixed-size::before {
            border: 3px solid rgba(255, 0, 0, 0.738);
        }
    }

    &.selected .biome-fixed-size::before {
        border: 3px solid red;
    }
    &.choice .biome-fixed-size::before {
        border: 3px solid green;
    }

    @for $i from 0 to 40 {
        &[data-id="#{$i + 100}"] .biome-fixed-size {
            background-position-x: ($i % 5) * 100% / 4;
            background-position-y: (($i - ($i % 5)) / 5) * 100% / 7;
        }
    }

    @for $i from 0 to 40 {
        &[data-id="#{$i + 140}"] .biome-fixed-size {
            background-position-x: ($i % 5) * 100% / 4;
            background-position-y: (($i - ($i % 5)) / 5) * 100% / 7;
        }
    }
}

.biome-card.age2 {
    .biome-fixed-size {
        background-image: url("img/age2.jpg");
    }
}
