#pending-biomes-wrapper {
    display: flex;
    height: calc(var(--rauhaBoardScale) * 230px);
    transition: height 0.5s;
    &.empty {
        height: 0;
    }

    #pending-biomes {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .biome-card {
            margin: 8px;
        }
    }

    #satellite-moon,
    #satellite-star {
        flex-grow: 0;
        writing-mode: vertical-rl;
        text-align: center;
        font-family: "Bernard MT Condensed";
        font-weight: 700;

        .player-name {
            background: #eee6dcad;
            padding: 6px 3px;
            border: 1px solid #7d5e3cb0;
            border-radius: 3px;
            margin-right: 4px;
            display: none;
        }

        width: 1px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    #satellite-star {
        background-position-x: 100%;
        writing-mode: vertical-lr;
    }

    &.moon #satellite-moon,
    &.star #satellite-star {
        display: block;
        opacity: 1;
        width: calc(var(--rauhaBoardScale) * 100px);
        height: calc(var(--rauhaBoardScale) * 230px);
        background-image: url("img/satellite.png");
        background-size: 200% 100%;
        .player-name {
            display: inline-block;
        }
    }
}

#page-title .biome-card {
    position: absolute;
}

.biome-tooltip {
    --rauhaBiomeScale: 1;

    .biome-card {
        margin-bottom: 10px;
    }

    .biome-card.starting {
        .biome-fixed-size {
            background-image: url("img/faceA.png");
            background-size: 356%;
            box-shadow: 2px 2px 5px -1px black;
        }

        &[data-id="10"],
        &[data-id="11"],
        &[data-id="12"],
        &[data-id="13"],
        &[data-id="14"],
        &[data-id="15"],
        &[data-id="16"],
        &[data-id="17"],
        &[data-id="18"] {
            .biome-fixed-size {
                background-image: url("img/faceB.png");
            }
        }

        &[data-id="0"],
        &[data-id="10"] {
            .biome-fixed-size {
                background-position: 10% 10%;
            }
        }
        &[data-id="1"],
        &[data-id="11"] {
            .biome-fixed-size {
                background-position: 50% 10%;
            }
        }
        &[data-id="2"],
        &[data-id="12"] {
            .biome-fixed-size {
                background-position: 90% 10%;
            }
        }
        &[data-id="3"],
        &[data-id="13"] {
            .biome-fixed-size {
                background-position: 10% 50%;
            }
        }
        &[data-id="4"],
        &[data-id="14"] {
            .biome-fixed-size {
                background-position: 50% 50%;
            }
        }
        &[data-id="5"],
        &[data-id="15"] {
            .biome-fixed-size {
                background-position: 90% 50%;
            }
        }
        &[data-id="6"],
        &[data-id="16"] {
            .biome-fixed-size {
                background-position: 10% 90%;
            }
        }
        &[data-id="7"],
        &[data-id="17"] {
            .biome-fixed-size {
                background-position: 50% 90%;
            }
        }
        &[data-id="8"],
        &[data-id="18"] {
            .biome-fixed-size {
                background-position: 90% 90%;
            }
        }
    }
}

.rauha-board .board-grid .board-cell {
    .biome-card.selectable .biome-fixed-size::before {
        border: 3px solid rgba(255, 0, 0, 0.438);
    }
}
.biome-card {
    position: relative;
    width: calc(230px * var(--rauhaBiomeScale));
    height: calc(230px * var(--rauhaBiomeScale));

    .help-marker {
        left: auto;
        right: 8px;
        top: 8px;
    }

    .biome-fixed-size {
        position: relative;
        width: 230px;
        height: 230px;
        transform: scale(var(--rauhaBiomeScale));
        transform-origin: top left;
        background-image: url("img/age1.jpg");
        background-size: 500% 800%;
        border-radius: 40px;
        box-shadow: 2px 2px 5px -1px black;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            border: 3px solid transparent;
            border-radius: 40px;
            transition: background 0.8s;
            background: transparent;
        }
    }

    &.phantom {
        visibility: hidden;
    }

    &.starting .biome-fixed-size {
        background: none;
        box-shadow: none;
    }

    &[data-used="1"] .biome-fixed-size::before {
        background: rgba(0, 0, 0, 0.4);
    }

    &.selectable {
        cursor: pointer;
        &:not(.starting):hover {
            transform: scale(1.1);
        }

        &.starting:hover .biome-fixed-size::before {
            border: 3px solid rgba(255, 0, 0, 0.738);
        }
    }

    &.selected .biome-fixed-size::before {
        border: 3px solid red;
    }
    &.choice .biome-fixed-size::before {
        border: 3px solid green;
    }

    @for $i from 0 to 40 {
        &[data-id="#{$i + 100}"] .biome-fixed-size {
            background-position-x: ($i % 5) * 100% / 4;
            background-position-y: (($i - ($i % 5)) / 5) * 100% / 7;
        }
    }

    @for $i from 0 to 40 {
        &[data-id="#{$i + 140}"] .biome-fixed-size {
            background-position-x: ($i % 5) * 100% / 4;
            background-position-y: (($i - ($i % 5)) / 5) * 100% / 7;
        }
    }
}

.biome-card.age2 {
    .biome-fixed-size {
        background-image: url("img/age2.jpg");
    }
}
