@import "cards.zoo";
@import "cards.action";

.ark-card {
    position: relative;

    &.unselectable {
        filter: grayscale(80%);
        cursor: not-allowed;
    }

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    .ark-card-wrapper {
        width: 373px;
        height: 520px;
        transform-origin: top left;
        border-radius: 8px;
        box-shadow: 2px 2px 5px -1px black;
        background-image: url("img/card-backgrounds.jpg");
        background-size: 700% 100%;

        .ark-card-top {
            width: 373px;
            height: 297px;
            border-radius: 7px 7px 0px 0px;
            display: flex;
            overflow: hidden;

            .ark-card-top-left {
                min-width: 77px;
            }

            .are-card-top-right {
                display: flex;
                padding-right: 13px;
                flex-grow: 1;
                justify-content: end;
            }
        }

        .ark-card-middle {
            height: 50px;
            background: linear-gradient(
                90deg,
                rgba(235, 138, 0, 1) 15%,
                rgba(252, 189, 26, 1) 50%,
                rgba(235, 138, 0, 1) 85%
            );

            .ark-card-title-wrapper {
                padding: 2px 20px;

                .ark-card-title {
                    font-family: "Myriad Pro Semibold";
                    text-transform: uppercase;
                    text-align: center;
                    color: #070002;
                    font-size: 21px;
                }
                .ark-card-subtitle {
                    font-family: "Myriad Pro Condensed Italic";
                    text-align: center;
                }
            }

            .ark-card-number {
                width: 30px;
                height: 50px;
                float: right;
                writing-mode: vertical-rl;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .ark-card-bottom {
            height: 173px;
            padding: 0px 15px;
        }
    }
}
