:root {
    --rauhaShamanScale: 0.2;
}

#pending-shamans {
    display: flex;
    justify-content: center;
    align-items: center;

    .shaman-card {
        margin: 5px 10px;
    }
}

.shaman-card {
    background-color: transparent;
    width: calc(var(--rauhaShamanScale) * 945px);
    height: calc(var(--rauhaShamanScale) * 1417px);
    flex-shrink: 0;

    background: url("img/shamans.jpg");
    background-size: 500% 200%;
    border-radius: calc(var(--rauhaShamanScale) * 50px);
    border: 1px solid black;

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
        }
    }
    &.selected {
        box-shadow: 0px 0px 10px 2px green;
    }

    &[data-side="2"] {
        background-position-y: 100%;
    }

    &[data-shaman="Sininen"] {
        background-position-x: 0%;
    }
    &[data-shaman="Harmaa"] {
        background-position-x: 25%;
    }
    &[data-shaman="Vihreä"] {
        background-position-x: 50%;
    }
    &[data-shaman="Keltainen"] {
        background-position-x: 75%;
    }
    &[data-shaman="Punainen"] {
        background-position-x: 100%;
    }
}
